.container .title{
  font-size: 25px;
  background-color: rgb(255, 72, 72);
  color:#fff;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding:15px;
}
.img-sec{
  background: rgb(22,13,13);
  background: linear-gradient(0deg, rgba(22,13,13,1) 0%, rgba(122,0,0,1) 50%, rgba(22,13,13,1) 100%);
}
.container .image-container{
  columns:3 250px;
  gap:15px;
}

.container .image-container img{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}