@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.navbar-brand{
  font-family: 'Cinzel Decorative', cursive;
}
body{
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Marcellus SC', serif;
}
.img-style {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}