@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.navbar-brand{
  font-family: 'Cinzel Decorative', cursive;
  background-image: url(code-coding.gif);
  border-radius: 5px;
}
body{
  background: rgb(22,13,13);
  background: linear-gradient(267deg, rgb(19, 36, 35) 0%, rgb(24, 24, 24) 75%);
  color: white;
  font-family: 'Marcellus SC', serif;
}
.navbar{
}
.advertisement{
  margin: 0 auto;
}

.img-style {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px; 
}
.banner-item{
  display: none;
}

@media (max-width: 600px) {
  
  .banner-img{
    display: none;
  }

  .banner-item{
    display: contents;
    align-items: center;
    justify-content: center;
  }
  .big-scr{
    background: none;
  }
  .ball{
    display: none;
  }
  .img-style {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}